/**
 * fil: css/style.css
 **/
/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';
@import url("https://use.typekit.net/las4hvh.css");
@import url("https://use.typekit.net/las4hvh.css");

/* Farve- og fontvariabler */
:root {
  /* farver */
  --white1: #fcfaf6;
  --grey: #716c69;
  --white2: #dedecc;
  --white3: #ae9e79;
  --groen: #99a812;
  --roed: #a82112;
  --background: #fcfaf6;
  /* fonte */
  --overskrift: 'minion-pro-condensed-subhead', serif;
  --broedtekst: 'minion-pro-condensed-subhead', serif;
}

#wrap {}

*, *::before, *::after {
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: auto;
}

/* Her bruges en variabel: --blue */
body {
  margin: 0;
  font-family: var(--broedtekst);
  background: var(--white2);
}

/* Navigation*/
header {
  background: var(--background);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: grey;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Forside Video */
video {
  width: 100%;
  height: auto;
}

#forsidevideo {
  position: relative;
  height: 50%;
}

.pil {
  text-align: center;
  position: absolute;
  top: 100%;
  transform: translate(185%, -100%);
}

/* Forside billeder */
#forsidebox1 {
  background-color: var(--white2);
  line-height: 3;
}

.forsidebox1 p {
  line-height: 3;
}

#forsidebox1 h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
}

.forsidebox1 {
  text-align: center;
  font-style: italic;
  line-height: 2;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*events*/
/*mobil events side*/
.roweventsmob {
  display: flex;
}

.columneventsmob {
  flex: 33.33%;
  margin-bottom: 0px;
}

.roweventsmob img {
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  margin-bottom: -10px;
  width: 100%;
}

.roweventstekstmob {
  display: flex;
}

.columneventstekstmob {
  flex: 33.33%;
}

.roweventstekstmob img {
  margin-top: 0px;
  width: 100%;
}

.eventsoverskriftmob, .eventstekstboksmob {
  background-color: var(--Beige1);
  color: var(--black);
  margin: 0;
  padding-top: 0;
  line-height: 1.5;
}

.eventstekstboksmob p {
  text-align: center;
  line-height: 2;
  padding-bottom: 45px;
}

.eventsoverskriftmob h1 {
  font-size: 45px;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 20px;
}

.roweventsmob {
  border: 1px;
}

.roweventstekstmob {
  margin-top: -5px;
}

.eventsbilledemobil {
  max-width: 100%;
  margin-bottom: -5px;
}

/* web */
.rowevents {
  display: flex;
}

.columnevents {
  flex: 33.33%;
  margin-bottom: 0px;
}

.rowevents img {
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  margin-bottom: -10px;
  width: 100%;
}

.roweventstekst {
  display: flex;
}

.columneventstekst {
  flex: 33.33%;
}

.roweventstekst img {
  margin-top: 0px;
  width: 100%;
}

.eventsoverskrift, .eventstekstboks {
  background-color: var(--Beige1);
  color: var(--black);
  margin: 0;
  padding-top: 0;
  line-height: 1.5;
}

.eventstekstboks p {
  text-align: center;
  line-height: 2;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.eventsoverskrift h1 {
  font-size: 45px;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 20px;
}

/*events underside*/
.eventskalendermobil img {
  width: 100%;
  height: auto;
}

.eventskalenderweb img {
  max-width: 100%;
  height: auto;
}

/*Studio Home */
/*billede*/
#studiehomeforsidebilledmobil img {
  width: 100%;
  height: auto;
}

/* tekst*/
#studiohometekstboks {
  background-color: var(--beige2);
  color: var(--black);
  margin: 0;
  padding-top: 5%;
  line-height: 1.5;
}

#studiohometekstboks h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-style: normal;
  padding-top: 3%;
  line-height: 1.5;
  margin-bottom: -5px;
}

#studiohometekstboks h2 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 95%;
  font-style: normal;
  padding-bottom: 10%;
  padding-top: 5%;
  line-height: 1.5;
  margin-bottom: -5px;
}

#studiohometekstboks h3 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 120%;
  font-style: normal;
  padding-bottom: 3%;
  line-height: 1.5;
  margin-bottom: -5px;
  margin-left: auto;
  margin-right: auto;
}

#studiohometekstboks h4 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 95%;
  font-style: normal;
  padding-bottom: 10%;
  line-height: 1.5;
  margin-bottom: -5px;
}

/* studie home tekstbokse til stortbilled */
.studiohomerow {
  display: flex;
}

.studiocolumn {
  flex: 33.33%;
  margin-bottom: -4px;
}

/* studie home artikel*/
.studiooverskrift {
  text-align: center;
  font-size: 100px;
  padding-top: 5%;
  background-color: var(--beige);
  line-height: 1.5;
  margin-bottom: -5px;
}

.newspaper {
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  font-size: 100%;
  padding-bottom: 5%;
  background-color: var(--beige);
  font-style: italic;
  line-height: 1.5;
  margin-bottom: -5px;
}

.newspaper1 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 95%;
  padding-bottom: 5%;
  background-color: var(--beige);
  line-height: 1.5;
  margin-bottom: -5px;
}

.newspaper2 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 95%;
  padding-bottom: 5%;
  background-color: var(--beige);
  line-height: 1.5;
  margin-bottom: -5px;
}

.newspaper3 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 95%;
  padding-bottom: 10%;
  background-color: var(--beige);
  line-height: 1.5;
  margin-bottom: -5px;
}

/* studie home  hyperlinks */
.rowhyperlinks {
  text-align: center;
  display: flex;
}

.columnhyperlinks {
  flex: 33.33%;
  padding: 3px;
}

section {
  background-color: var(--creme)
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/*historie */
#historielille img {
  max-width: 100%;
  height: auto;
}

#historieoverskrift {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

#historietekstboks h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

div.historietekst {
  padding: 20px;
  text-align: center;
  line-height: 2.7;
  font-style: italic;
}

#historietekstboks {
  background-color: var(--white1);
}

/* Galleri */
#galleritekstboks {
  background-color: var(--beige2);
  color: var(--black);
  margin: 0;
}

#galleritekstboks p {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 23px;
  padding-left: 50px;
  padding-right: 50px;
}

#gallerioverskrift h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

div.galleritekstboks img {
  width: 100%;
  height: auto;
}

/* footer */
.container, .container ul, .footer-col, .footer-col h4::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
  box-sizing: border-box;
}

.footer {
  background-color: #716c69;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ae9e79;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* MOBILE FIRST ØVELSER */
/* 1. Mobile enheder (begynd her) */
@media only screen and (max-width: 375px) {

  /*forside*/
  .pil {
    display: none;
  }

  #forsidebillederweb {
    display: none
  }

  /*events*/
  #eventsweb {
    display: none;
  }

  #eventkalenderweb {
    display: none;
  }

  /* Studio Home*/
  #studiohomerowweb {
    display: none;
  }

  #studiohomerowhyperlinksweb {
    display: none;
  }

  #studiehomeforsidebilledmobil img {
    width: 100%;
    height: auto;
  }

  /* Historien bag */
  #historie {
    display: none;
  }

  /* Galleri */
  #galleritekstboks {
    background-color: var(--beige2);
    color: var(--black);
    margin: 0;
  }

  #galleritekstboks h3 {
    padding-top: 20px;
    font-size: 23px;
    font-weight: bold;
  }

  #galleritekstboks p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #gallerioverskrift h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
  }

  #galleri2 img {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #galleristor {
    display: none
  }

  #gallerimobil {
    display: none;
  }

  .footer-col {
    width: 60%;
    margin-bottom: 30px;
    padding-left: 40px;
  }
}

/* 2. Tablets mv. (fortsæt her) */
@media only screen and (max-width: 779px) {

  /*forside*/
  .pil {
    display: none;
  }

  #forsidebillederweb {
    display: none
  }

  #forsidebox1 h3 {
    font-size: 30px;
  }

  .forsidebox1 p {
    line-height: 3;
  }

  /*events*/
  #eventsweb {
    display: none;
  }

  #eventkalenderweb {
    display: none;
  }

  .eventsbilledemobil img {
    width: 100%;
    height: auto;
  }

  /*Studio Home*/
  #studiohometekstboks img {
    width: 100%;
    height: auto;
  }

  #studiohomerowweb {
    display: none;
  }

  #studiohomerowhyperlinksweb {
    display: none;
  }

  /* studie home artikel*/
  .studiooverskrift {
    text-align: center;
    font-size: 180%;
    padding-top: 5%;
    background-color: var(--beige);
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .newspaper {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 130%;
    padding-bottom: 5%;
    background-color: var(--beige);
    font-style: italic;
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .newspaper1 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 130%;
    padding-bottom: 5%;
    background-color: var(--beige);
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .newspaper2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 130%;
    padding-bottom: 5%;
    background-color: var(--beige);
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .newspaper3 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 130%;
    padding-bottom: 15%;
    background-color: var(--beige);
    line-height: 1.5;
    margin-bottom: -5px;
  }

  /*historie*/
  #historie {
    display: none;
  }

  #galleristor {
    display: none
  }

  #galleri img {
    width: 100%;
    height: auto;
  }

  #gallerimobil {
    display: none;
  }

  #galleritekstboks p {
    text-align: center;
  }
}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 780px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 400ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  /* forside */
  .forsidebox1 {
    padding-left: 300px;
    padding-right: 300px;
    line-height: 3;
  }

  #forsidebilledermobil {
    display: none
  }

  .row {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 3px;
  }

  #forsidebox1 h3 {
    font-size: 30px;
  }

  .forsidebox1 p {
    line-height: 3;
    padding-left: 200px;
    padding-right: 200px;
  }

  /*hyperlinks i bunden af forsiden*/
  #studiohomerowhyperlinksweb img {
    max-width: 25%;
  }

  /*events*/
  #mobileevents {
    display: none;
  }

  #mobileeventskalender {
    display: none;
  }

  /*Studio Home*/
  /* studiohome artikel */
  .studiohomerow {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 3px;
  }

  #studiehomerowmobil {
    display: none;
  }

  #studiohomerowhyperlinksmobil {
    display: none;
  }

  #studiomeraki {
    display: none;
  }

  #studiohometekstboks {
    background-color: var(--beige2);
    color: var(--black);
    margin: 0;
    padding-top: 5%;
    line-height: 1.5;
  }

  #studiohometekstboks h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-style: normal;
    padding-top: 3%;
    line-height: 1.5;
    margin-bottom: -5px;
  }

  #studiohometekstboks h2 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 120%;
    font-style: normal;
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 1.5;
    margin-bottom: -5px;
  }

  #studiohometekstboks h3 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 120%;
    font-style: normal;
    padding-bottom: 3%;
    line-height: 1.5;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
  }

  #studiohometekstboks h4 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 120%;
    font-style: normal;
    padding-bottom: 10%;
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .studiooverskrift {
    text-align: center;
    font-size: 170%;
    padding-top: 5%;
    background-color: var(--beige);
    line-height: 1.5;
  }

  .newspaper {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 150%;
    padding-bottom: 5%;
    background-color: var(--beige);
    font-style: italic;
    line-height: 1.5;
  }

  .newspaper1 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    padding-bottom: 5%;
    background-color: var(--beige);
    line-height: 1.5;
  }

  .newspaper2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    padding-bottom: 5%;
    background-color: var(--beige);
    line-height: 1.5;
  }

  .newspaper3 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    padding-bottom: 10%;
    background-color: var(--beige);
    line-height: 1.5;
  }

  /*historie */
  #historielille img {
    display: none;
  }

  #historieoverskrift {
    display: none;
  }

  #historie img {
    max-width: 100%;
    height: auto;
  }

  /* Galleri */
  #gallerimobil {
    display: none;
  }

  #galleri {
    display: none;
  }

  #galleristor img {
    width: 100%;
    height: auto;
  }

  #galleritekstboks p {
    display: none;
  }

  #gallerioverskrift h2 {
    display: none;
  }

  .galleriwebrow {
    display: flex;
  }

  .galleriwebrow1 {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 3px;
  }

  .galleriwebrow1 {
    display: flex;
  }
}
